# Archivo de configuración de red para {{ inventory_hostname }}

source /etc/network/interfaces.d/*

# La interfaz loopback
auto lo
iface lo inet loopback

# Cambiar segun nombre de interfaces
auto enp30s0
iface enp30s0 inet manual

auto br0
iface br0 inet static
    address {{ static_ip }}
    netmask 255.255.255.0
    gateway 192.168.10.1
    dns-nameservers 8.8.8.8
    bridge_ports enp30s0
#    bridge_stp off       # Desactiva STP (Spanning Tree Protocol, opcional)
#    bridge_fd 0          # Tiempo de retraso del reenvío (Forward Delay)
#    bridge_maxwait 0     # Tiempo de espera máximo para el puente (opcional)