network:
  version: 2
  renderer: networkd
  ethernets:
    enp1s0:  # Cambia 'ens33' por el nombre de tu interfaz de red
      dhcp4: no
      addresses:
        - {{ static_ip }}/24  # IP estática que se asignará (ver más abajo)
      gateway4: {{ gateway }}
      nameservers:
        addresses:
          - {{ dns_server }}
